###
# #%L
# Fiji distribution of ImageJ for the life sciences.
# %%
# Copyright (C) 2007 - 2017 Fiji developers.
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 2 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/gpl-2.0.html>.
# #L%
###
Plugins>SPIM Registration, "Bead-based registration", fiji.plugin.Bead_Registration
Plugins>SPIM Registration, "Multi-view fusion", fiji.plugin.Multi_View_Fusion
Plugins>SPIM Registration, "Multi-view deconvolution", fiji.plugin.Multi_View_Deconvolution
Plugins>SPIM Registration>Utilities, "Apply external transformation", fiji.plugin.Apply_External_Transformation

#
# Plugins from the spimreconstructions
#
Plugins>Multiview Reconstruction, "MultiView Reconstruction Application", spim.fiji.plugin.Data_Explorer
Plugins>Multiview Reconstruction>Batch Processing, "Define Multi-View Dataset", spim.fiji.plugin.Define_Multi_View_Dataset
Plugins>Multiview Reconstruction>Batch Processing, "Detect Interest Points for Registration", spim.fiji.plugin.Interest_Point_Detection
Plugins>Multiview Reconstruction>Batch Processing, "Register Dataset based on Interest Points", spim.fiji.plugin.Interest_Point_Registration
Plugins>Multiview Reconstruction>Batch Processing, "Fuse/Deconvolve Dataset", spim.fiji.plugin.Image_Fusion
Plugins>Multiview Reconstruction>Batch Processing>Tools, "Apply Transformations", spim.fiji.plugin.Apply_Transformation
Plugins>Multiview Reconstruction>Batch Processing>Tools, "Define Bounding Box", spim.fiji.plugin.Define_Bounding_Box
Plugins>Multiview Reconstruction>Batch Processing>Tools, "Duplicate Transformations", spim.fiji.plugin.Duplicate_Transformation
Plugins>Multiview Reconstruction>Batch Processing>Tools, "Display View", spim.fiji.plugin.Display_View
Plugins>Multiview Reconstruction>Batch Processing>Tools, "Specify Calibration", spim.fiji.plugin.Specify_Calibration
Plugins>Multiview Reconstruction>Batch Processing>Tools, "Visualize Detections", spim.fiji.plugin.Visualize_Detections
Plugins>Multiview Reconstruction>Batch Processing>Tools, "Remove Detections by Distance", spim.fiji.plugin.ThinOut_Detections
Plugins>Multiview Reconstruction>Batch Processing>Tools, "Remove Detections Interactively", spim.fiji.plugin.Interactive_Remove_Detections
Plugins>Multiview Reconstruction>Batch Processing>Resave, "As HDF5", spim.fiji.plugin.resave.Resave_HDF5
Plugins>Multiview Reconstruction>Batch Processing>Resave, "As TIFF", spim.fiji.plugin.resave.Resave_TIFF
Plugins>Multiview Reconstruction>Batch Processing>Tools>Cluster, "Toggle Cluster Processing", spim.fiji.plugin.Toggle_Cluster_Options
Plugins>Multiview Reconstruction>Batch Processing>Tools>Cluster, "Merge Cluster Jobs", spim.fiji.plugin.Merge_Cluster_Jobs
