Plugins>SPIM Registration>deprecated, "Define Multi-View Dataset", fiji.plugin.Create_Multi_View_Dataset
Plugins>SPIM Registration>deprecated, "Bead-based registration", fiji.plugin.Bead_Registration
Plugins>SPIM Registration>deprecated, "Multi-view fusion", fiji.plugin.Multi_View_Fusion
Plugins>SPIM Registration>deprecated, "Multi-view deconvolution", fiji.plugin.Multi_View_Deconvolution
Plugins>SPIM Registration>deprecated>Utilities, "Apply external transformation", fiji.plugin.Apply_External_Transformation