Plugins>SPIM Reconstruction, "Define Multi-View Dataset", fiji.plugin.Define_Multi_View_Dataset
Plugins>SPIM Reconstruction, "Detect Interest Points for Registration", fiji.plugin.Interest_Point_Detection
Plugins>SPIM Reconstruction, "Register Dataset based on Interest Points", fiji.plugin.Interest_Point_Registration
Plugins>SPIM Reconstruction, "Fuse/Deconvolve Dataset", fiji.plugin.Image_Fusion
Plugins>SPIM Reconstruction>Utilities, "Display View", fiji.plugin.Display_View
Plugins>SPIM Registration>deprecated, "Bead-based registration", fiji.plugin.Bead_Registration
Plugins>SPIM Registration>deprecated, "Multi-view fusion", fiji.plugin.Multi_View_Fusion
Plugins>SPIM Registration>deprecated, "Multi-view deconvolution", fiji.plugin.Multi_View_Deconvolution
Plugins>SPIM Registration>deprecated>Utilities, "Apply external transformation", fiji.plugin.Apply_External_Transformation